/* MAIN CONTAINER */
/* CARD */
.main-container__card {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.main-container__card::after {
  content: "";
  position: absolute;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.main-container__card:hover.main-container__card::after {
  display: block;
  opacity: 0.5;
}

/* BUTTON ADD TO CARD */
.main-container__card__add-to-card {
  display: none;
}

/* HIDDEN PRICE & TITLE */
.main-container__card:hover .main-container__card__title, .main-container__card:hover .main-container__card__price {
  visibility: hidden;
}

.main-container__card:hover .main-container__card__add-to-card {
  display: block;
  position: absolute;
  z-index: 3;
  color: Red;
  font-size: 20px;
}

.main-container__card__add-to-card:hover {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.main-container__card__wishlist {
  color: white;
}

.main-container__card__add-to-wishlist{
  color: red;
}

.main-container__card__wishlist, .main-container__card__add-to-wishlist {
  font-size: 30px;
  position: absolute;
  top: 4%;
  left: 78%;
  display:none;
}

.main-container__card:hover .main-container__card__wishlist, .main-container__card:hover .main-container__card__add-to-wishlist{
  display: block;
  z-index: 3;
}

.main-container__card__price {
  display: flex;
  flex-wrap: wrap;
}

.main-container__card__price__old {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
  /* line-height:1; */
}

.main-container__card__price__current {
  font-weight: bold;
  font-size: 18px;
}