/* CARD */

.main-container__card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  
  /* align-items: center; */
  /* justify-content: center!important; */
}

/* IMAGE */

.main-container__card__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container__card::after {
  content: "";
  position: absolute;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.main-container__card:hover.main-container__card::after {
  display: block;
  opacity: 0.5;
}

/* BUTTON ADD TO CARD */

.main-container__card__add-to-card {
  display: none;
}

/* HIDDEN PRICE & TITLE */

.main-container__card:hover .main-container__card__title, .main-container__card:hover .main-container__card__price {
  visibility: hidden;
}

.main-container__card:hover .main-container__card__add-to-card {
  display: block;
  position: absolute;
  z-index: 3;
  color: Red;
  font-size: 20px;
  left: 40%;
  transform: translate(-35%, 0%);
}

.main-container__card__add-to-card:hover {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.main-container__card__wishlist {
  color: #f5222d;
}

.main-container__card__add-to-wishlist {
  color: red;
}

.main-container__card__wishlist, .main-container__card__add-to-wishlist {
  font-size: 30px;
  position: absolute;
  top: 4%;
  left: 78%;
  display: none;
}

.main-container__card:hover .main-container__card__wishlist, .main-container__card:hover .main-container__card__add-to-wishlist {
  display: block;
  z-index: 3;
}

.main-container__card__price {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.main-container__card__price__old {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.main-container__card__price__current {
  font-weight: bold;
  
  font-size: 18px;
}

.view-detail-btn{
  width:50%;
  height: 50px!important;
  
  font-weight: bold!important;
  font-size:20px!important;
}