/* COLLAPSE FILTER */

.product-container__collapse-filter {
  height: 300px;
  background-color: #f0f0f0;
}

/* __PRICE */

.product-container__collapse-filter__price, .product-container__collapse-filter__size {
  position:relative;
  margin-top: 30px;
  text-align: center;
}

.collapse-filter__price__menu, .collapse-filter__size__menu {
  list-style-type: none;
}

.collapse-filter__price__menu li, .collapse-filter__size__menu li{
  margin-top: 20px;
}

.price__menu__item, .size__menu__item {
  color: gray;
}

.price__menu__item:hover, .size__menu__item:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* __SIZE */