:root {
  --header-height: 110px;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 9999;
}

.header-purpot {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  z-index: 11;
}

.header-purpot_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 80px;
}

.header-logo_hambuger img {
  position: absolute;
  top: 40px;
  left: 40px;
  width: auto;
  height: 30px;
  cursor: pointer;
}

.header-logo_brand img {
  max-width: auto;
  height: 50px;
}

.header-menu-dropdown:hover .header-submenu1 {
  display: block;
}

.header-menu-dropdown:hover .header-submenu2 {
  display: block;
}

.header-menu-dropdown:hover .header-submenu3 {
  display: block;
}

.header-menu-dropdown:hover .header-submenu4 {
  display: block;
}

.header-menu-dropdown:hover .header-submenu5 {
  display: block;
}

.header-menu-dropdown:hover .header-submenu6 {
  display: block;
}

.header-submenu1 {
  position: absolute;
  align-items: center;
  display: none;
  list-style-type: none;
  padding: 10px 0px;
  margin: 0px;
  width: 100%;
  background-color: white;
}

.header-submenu1-dropdown {
  position: relative;
}

.header-submenu1-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 100%;
  /* background-color: #e7e7e7; */
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-submenu1-dropdown:hover .header-submenu1-purpot {
  display: block;
}

.header-submenu2-dropdown {
  position: relative;
}

.header-submenu2-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 180px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  /* background-color: #e7e7e7; */
  background-color: white;
}

.header-submenu2-dropdown:hover .header-submenu2-purpot {
  display: block;
}

.header-submenu3-dropdown {
  position: relative;
}

.header-submenu3-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 180px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-submenu3-dropdown:hover .header-submenu3-purpot {
  display: block;
}

.header-submenu4-dropdown {
  position: relative;
}

.header-submenu2 {
  position: absolute;
  align-items: center;
  display: none;
  padding: 10px 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.header-submenu3 {
  position: absolute;
  align-items: center;
  display: none;
  padding: 10px 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.header-bedroom1-dropdown {
  position: relative;
}

.header-bedroom1-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 180px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-bedroom1-dropdown:hover .header-bedroom1-purpot {
  display: block;
}

.header-bedroom2-dropdown {
  position: relative;
}

.header-bedroom2-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-bedroom2-dropdown:hover .header-bedroom2-purpot {
  display: block;
}

/*  */

.header-bedroom3-dropdown {
  position: relative;
}

.header-bedroom3-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-bedroom3-dropdown:hover .header-bedroom3-purpot {
  display: block;
}

.header-submenu4 {
  position: absolute;
  align-items: center;
  display: none;
  padding: 10px 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.header-kitchen1-dropdown {
  position: relative;
}

.header-kitchen1-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-kitchen1-dropdown:hover .header-kitchen1-purpot {
  display: block;
}

/* Header - submenu - kitchen - dropdown */

.header-kitchen2-dropdown {
  position: relative;
}

.header-kitchen2-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-kitchen2-dropdown:hover .header-kitchen2-purpot {
  display: block;
}

/* Dropdown - Submenu -Hang Trang Tri */

.header-accessories1-dropdown {
  position: relative;
}

.header-accessories1-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-accessories1-dropdown:hover .header-accessories1-purpot {
  display: block;
}

.header-accessories2-dropdown {
  position: relative;
}

.header-accessories2-purpot {
  display: none;
  position: absolute;
  list-style-type: none;
  top: 0px;
  left: 100%;
  margin: 0px 5px;
  padding: 10px 2px;
  width: 150px;
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-accessories2-dropdown:hover .header-accessories2-purpot {
  display: block;
}

/*  */

.header-submenu5 {
  position: absolute;
  align-items: center;
  display: none;
  padding: 10px 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.header-submenu6 {
  position: absolute;
  align-items: center;
  display: none;
  padding: 10px 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
  background-color: white;
}

.submenu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  text-decoration: none;
  overflow: hidden;
  font-size: 13px;
  padding: 10px 5px;
  width: 100%;
}

.header-menu-dropdown:hover .menu-item {
  color: black;
}

.submenu-item:hover {
  color: black;
  background: #e8e8e8;
}

.header-purpot_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  z-index: 11;
}

.header-purpot_icon img {
  width: auto;
  height: 20px;
  background: none;
  outline: none;
  margin: 0px 10px;
  cursor: pointer;
}

.search-bar {
  width: 300px;
  height: 30px;
  background: none;
  outline: none;
  border-radius: 20px;
}

.user-area {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block__user:hover .btn-logout {
  display: block;
}

.btn-logout {
  position: absolute;
  top: 20px;
  padding: 5px 8px;
  background: #e7e7e7;
  color: #333;
  font-size: 15px;
  border-radius: 8px;
  display: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.btn-logout:hover {
  background: #333;
  color: #e8e8e8;
  transition: all ease-in-out .55s;
}

.block__user:hover .btn-logout {
  display: block;
}

.btn-into {
  display: none;
  padding: 5px 8px;
  background: #e7e7e7;
  color: #333;
  font-size: 15px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.btn-into:hover {
  background: #333;
  color: #e8e8e8;
  transition: all ease-in-out .55s;
}

.block__user:hover .btn-into {
  display: block;
}

.block__search-item, .block__user-item, .block__heart-item, .block__cart-item{
  cursor: pointer;
  font-size:30px;
}

.menu-item {
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 16px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  overflow: hidden;
  transition: all ease-in-out 300ms;
  padding: 0px 20px;
}

.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: 19px;
  height: 2px;
  width: 0%;
  padding: 0px;
  background: #333;
  transition: all ease-in-out 200ms;
}

.menu-item:hover::after {
  width: 75%;
  transition: all ease-in-out 200ms;
}

.menu-item:hover {
  color: black;
  transition: all ease-in-out 200ms;
  text-decoration: none;
}

.header__menu, .header__search-input {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__search-input .search-input__searchbox {
  margin: 14px;
  padding: 8px;
  width: 100%;
  border-radius: 50px;
}