.product-item{
    text-align: center;
}

.product-id{
    width: auto;
    height: 50px;
    padding: 0px 20px;
}

.product-remove button{
    border:2px solid #333;
    color:#333;
    /* width: auto; */
    width: 35px;
    height: 35px;
    outline: none;
    background: white;
}

.product-remove button:hover{
    content: '';
    border-color: red;
    color:red;
    background-color: white;
    transition: all ease-in-out 500ms;
   
}

.product-item td{
    margin-left: 20px;
    padding: 0px 10px;
}

.product-image img{
    width: auto;
    height: 100px;
}

.product-name{
    width: 200px;
}

